.navigation-container,
.nav {
  display: flex;
  align-items: center;
  a,
  .Cart {
    color: $textC;
  }
}
.navigation-container {
  padding: 2.8rem 0;
  justify-content: space-between;
  font-size: 1 6rem;
  max-width: 120rem;
  margin: 0 auto;
}
.nav {
  text-transform: uppercase;
  .link {
    font-weight: 400;
    padding: 0 1.6rem 3rem 1.6rem;
    border-bottom: 2px solid transparent;
    transition: font-weight 0.3s, border-bottom 0.3s;
    &:hover {
      // border-bottom: 2px solid $textL;
      text-decoration: underline;
    }
  }
  .link.active {
    font-weight: 600;
    color: $cPrimary;
    position: relative;
    border-bottom: 1px solid $cPrimary;
    &:hover {
      border-bottom: 2px solid $cPrimary;
    }
  }
}

.Logo {
  width: 2rem;
}
.Cart {
  font-weight: 500;
  display: flex;
  gap: 2rem;
}
.cart-items {
  position: relative;
}
.item-count-on-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: $textC;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  top: -1rem;
  right: -1rem;
}
